<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zxc.mapper.UserMapper">

    <!--写crud对应的语句，实现具体操作-->

    <!--注册用户，将传递时参数添加到用户表中-->
    <insert id="addUser" parameterType="com.zxc.pojo.Users">
        INSERT INTO users(user_tel, user_email, user_pwd) VALUE (#{user_tel},#{user_email},#{user_pwd})

    </insert>
    
    <!--登录功能-->
    <select id="findUserByTelAndPwd" parameterType="com.zxc.pojo.Users" resultType="com.zxc.pojo.Users">
        select * from users WHERE user_tel=#{user_tel} AND user_pwd=#{user_pwd}
    </select>

</mapper>